$green-base: #76f581;
$green-hover: #45bf51;
$black-base: #000;
$white-base: #fff;
$grey-base: #1f2125;
$blue-base: #1a44fb;
$woodsmoke: #141519;
$dcdc: #dcdcdc;
$muted: #6d6d6d;
$rainbow: linear-gradient(to right, #d9383a, #7bf386, #0b24fb, #000000);
